.git
.github
.circleci
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
.coverage.*
site
docs
tests
terraform
.env
.env.*
!.env.example
*.md
!README.md
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
node_modules
.auth
