BASE_URL=your-base-url
CORS_ORIGINS=your-cors-origins
AZURE_CLIENT_ID=your-client-id
AZURE_CLIENT_SECRET=your-client-secret
AZURE_AUTHORITY=your-azure-authority
AZURE_REDIRECT_URI=your-redirect-uri
SESSION_SECRET_KEY=your-session-secret-key
GEMINI_API_KEY=your-gemini-api-key
ENABLE_SLACK_POLLER=false
CHAT_CLIENT_IMPL_MODULE=outlook_client_service.slack_chat_client
SLACK_BOT_TOKEN=your-slack-bot-token
SLACK_BOT_USER_ID=your-slack-bot-user-id
SLACK_TEST_CHANNEL_ID=your-slack-test-channel-id
SLACK_USER_TIMEZONE=your-slack-user-timezone
